@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

header .brand-bg {
	background: #fdfdfd;
	box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .brand-bg p {
	font-size: 40px;
	padding-top: 10px
}

.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.toolbar input {
	width: 30%;
	transition: all 0.5s ease;
}

@media only screen and (max-width: 600px) {
	.toolbar input {
		width: 50%;
		transition: all 0.5s ease;
	}
}

table {
	transition: all 0.5s ease;
}

.imgc {
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgc img {
	width: 140px;
}

.overlay-loading,
.overlay-results {
	height: 100%;
	width: 100%;
	border-radius: 60px;
	padding: 0 50px 50px 50px;
	display: none;
	transition: all 0.5s ease-in-out;
	background-color: white;
}

.modalContent {
	transition: all 0.5s ease-in-out;
}

.page-item>a {
	cursor: pointer;
}

caption>#caption {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

/***** File Upload Section *****/
.make-body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fdfdfd;
}

.drag-area {
	border: 2px #5256ad dashed;
	height: 500px;
	width: 700px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: all 0.5s ease-in-out;
}

.drag-area.active {
	border: 2px #5256ad solid;
	transition: all 0.5s ease-in-out;
}

.drag-area .icon {
	font-size: 100px;
	color: #5256ad;
	transition: all 0.5s ease-in-out;
}

.drag-area header {
	font-size: 30px;
	font-weight: 500;
	color: #5256ad;
	transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 432px) {
	.drag-area header {
		font-size: 13px;
	}
}

.drag-area span {
	font-size: 25px;
	font-weight: 500;
	color: #5256ad;
	margin: 10px 0 15px 0;
}

@media only screen and (max-width: 432px) {
	.drag-area span {
		font-size: 10px;
	}
}

.drag-area button {
	padding: 10px 15px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	outline: none;
	background: #5256ad;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}